
.title{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  padding: 10px;
}

.pre,.after,.today{
  width: 100px;
  height: 50px;
  margin: 10px;
  background: white;
  border: 1px solid gray;
}

.current-date{
  width: 100px;
  height: 100px;
  padding:10px;
}

.date{
 padding: 20px;
}

.todo{
  display: flex;
  flex-direction: column;
  margin: 10px;
   gap: 15px;
}

.sch{
  width: 35%;
  height: 150px;
  border: 1px solid gray;
  display: flex;
  flex-direction: row;
}

.todo1{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.todo2{
  margin: 30px 10px;
}

#start {
  border: none;
  outline: none;
  padding-top: -5px;
}


.num{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.v-line {
  border-left : 1px solid gray;
  height : 150px;
}

